.contenedor_general {
    display: grid;
    width: 100%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

.ContenedorProductosXReutilizable {
    overflow-y: auto;
    scrollbar-width: none;
}

.usuario {
    margin-left: 5px;
    border-radius: 8px;
    color: #081f63;
    display: flex;
    align-items: center;
}

.usuario .nombre {
    justify-content: center;
    align-items: center;
}

.buscador {
    align-items: center;
    justify-content: center;
}

.buProductos {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 100vh;
    /* ocupa toda la altura de la pantalla */
    box-sizing: border-box;
    overflow: hidden;
}

.buscar {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #F7F6FB;
    border-radius: 25px;
    margin-right: 8px;
}

.productosX {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    align-content: start;
    overflow-y: auto;
    scrollbar-width: none;
    height: auto;
}

.producto {
    align-items: center;
    align-content: center;
    margin: 15px;
    margin-left: 0px;
    background-color: #F7F6FB;
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 8px;
}


.detallesPro {
    max-width: 200px;
        max-width: 200px;
    padding-bottom: 10px;
    display: flex
;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px
}

.producto img {
    width: 100px;
    height: 120px;
}

.caraU {
    font-size: 32px;
    margin: 5px;

}

.imagenP {
    align-items: center;
    display: flex;
    justify-content: center;
}

.abrirDown {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.mostrarContenido {
    grid-template-columns: 100% !important;
}

.abrirMenu {
    display: none;
}

.soloContenido {
    grid-template-columns: 100% !important;
    gap: 0px;
    transition: grid-template-columns 0.4s ease;
}

.soloContenido .abrirDown {
    grid-template-columns: auto 1fr;
}

.soloContenido .abrirMenu {
    display: block;
    color: #F7F6FB;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding-top: 15px;
}

@media (max-width: 768px) {
    .usuario span {
        display: none;
    }

    .contenedor_general {
        transition: 500ms;
        grid-template-columns: 100%;
    }

    .producto {
        padding: 8px;
        padding-bottom: 0px;
    }

    .buProductos {
        padding: 0.5rem;
    }

    .contenedor_general {
        grid-template-columns: 100% !important;
        transition: grid-template-columns 0.4s ease;
    }

    .barra {
        position: fixed;
        top: 0 !important;
        left: 0;
        width: 70vw;
        height: 100vh !important;
        transform: translateX(-100%);
        /* Oculta fuera de la vista inicialmente */
        transition: transform 0.5s ease !important;
        /* Animación suave */
        z-index: 1000;
    }

    .abrirDown {
        grid-template-columns: auto 1fr;
    }

    .barraJex {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(31, 31, 31, 0.2);
        transform: translateX(-100%);
        /* Oculta fuera de la vista inicialmente */
        transition: transform 0.4s ease;
        /* Animación suave */
        z-index: 1000;
    }

    .abrirMenu {
        display: block;
        color: #F7F6FB;
        border: none;
        font-size: 30px;
        cursor: pointer;
        padding-top: 15px;
    }

    .contenedor_general:not(.soloContenido) .barra {
        transform: translateX(0);
    }

    .contenedor_general:not(.soloContenido) .barraJex {

        transform: translateX(0);
    }
}